---
import { getComunidades, getProvincias, getMunicipios } from '../services/geoapi.js'

const comunidades = await getComunidades()
const provincias = await getProvincias('01')
const municipios = await getMunicipios('29')
---

<select onchange="console.log(hola())">
	{
		comunidades.map(comunidad => (
			<option value={comunidad.CCOM}>{comunidad.COM}</option>
		))
	}
</select>
<select>
	{
		provincias.map(provincia => (
			<option value={provincia.CPRO}>{provincia.PRO}</option>
		))
	}
</select>
<select>
	{
		municipios.map(municipio => (
			<option value={municipio.CMUM}>{municipio.DMUN50}</option>
		))
	}
</select>